<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.cinema.rest.common.persistence.dao.FilmActorTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cskaoyan.cinema.rest.common.persistence.model.FilmActorT">
        <id column="UUID" property="uuid" />
        <result column="film_id" property="filmId" />
        <result column="actor_id" property="actorId" />
        <result column="role_name" property="roleName" />
    </resultMap>

    <resultMap id="filmActorMap" type="com.cskaoyan.cinema.rest.common.persistence.vo.FilmActor">
        <result column="actor_name" property="directorName" />
        <result column="role_name" property="roleName" />
        <result column="actor_img" property="imgAddress" />
    </resultMap>
    <select id="selectFilmActors" resultMap="filmActorMap">
        select fa.role_name, actor_name, actor_img from mtime_film_actor_t fa
        left join mtime_actor_t a
        on fa.actor_id = a.UUID
        where film_id = #{filmId}
    </select>
</mapper>
