<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.cinema.rest.common.persistence.dao.FilmTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cskaoyan.cinema.rest.common.persistence.model.FilmT">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>
    <sql id="Base_Sql">
        film_name,film_type,img_address,film_score,UUID,film_preSaleNum,film_box_office,
        film_source,film_area,film_date,film_time,film_status
    </sql>


    <resultMap id="FilmInfoMap" type="com.cskaoyan.cinema.vo.film.FilmInfo">
        <id column="UUID" property="filmId" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="expectNum" />
        <result column="film_box_office" property="boxNum" />
        <result column="film_cats" property="filmCats" />
        <result column="film_length" property="filmLength" />
        <result column="film_score" property="score" />
        <result column="film_time" property="showTime" />
    </resultMap>
    <select id="selectFilmsByStatus" resultMap="FilmInfoMap">
        select f.UUID,film_name,film_type,img_address,f.film_score,film_preSaleNum,film_box_office,film_cats,
        film_length,film_time from mtime_film_t f
        left join mtime_film_info_t fi
        on f.UUID = fi.film_id
        where
        <if test="status gt 0">
            film_status = #{status}
        </if>
        <if test="status == 0">
            film_status != 2
        </if>
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Sql"/>
        from mtime_film_t
        <where>
            film_status = #{status}
            <if test="sourceId != 99">
                and film_source = #{sourceId}
            </if>
            <if test="yearId != 99">
                and film_date = #{yearId}
            </if>
            <if test="catId != '%#99#%'">
                and film_cats like #{catId}
            </if>
        </where>
    </select>
    <select id="selectFilmByFilmId"
            resultType="com.cskaoyan.cinema.vo.film.FilmOrderVo">
        select
        <include refid="Base_Sql"/>
        from mtime_film_t
        where UUID = #{uuid}
    </select>

</mapper>
